body {
  margin: 0;
  padding: 0;
  background: linear-gradient(350deg, #f1d6e6, #f8cfe6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* container do tabuleiro*/
.tabuleiro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.linha {
  display: flex;
  gap: 30px;
}

/* quadrados do tabuleiro */
.quadrado {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  font-size: 4rem;
  font-weight: bold;
  border: 1px solid transparent;
  background-color: #a3165d; 
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
}

.quadrado:hover {
  background-color: #e73293;
}

/* mensagem acima do tabuleiro*/
#titulo {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  text-align: center;
  letter-spacing: 1.6px;
}
